html,
body {
  padding: 0;
  margin: 0;
  font-family: "aileron"; 
  background-color: rgb(67, 67, 67);
  color: #eee;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-between;
}
nav button{
  background-color: transparent;
  box-shadow: none;
}
nav button:hover{
  box-shadow: none;
}
header{
  width: 100%; 
}
button{
  background-color: #864ef0;
  font-size: 1.1em;
  font-weight: 500;
  color: #fff;
  border: none;
  padding: 15px 32px;
  margin: 4px 2px ;
  border-radius: 7px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
pre code.hljs {
	display: block !important; 
	overflow-x: auto !important;
	padding: 1em !important;
}

code.hljs {
	padding: 0px 0px !important;
}
.hljs {
  height: 50vh;
  overflow-y: scroll;
	background: #2b2b2b !important;
	color: #f8f8f2 !important;
}

.hljs-comment,
.hljs-quote {
	color: #d4d0ab !important;
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
	color: #ffa07a !important;
}

.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
	color: #f5ab35 !important;
}

.hljs-attribute {
	color: gold !important;
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
	color: #abe338 !important;
}

.hljs-section,
.hljs-title {
	color: #00e0e0 !important;
}

.hljs-keyword,
.hljs-selector-tag {
	color: #dcc6e0 !important;
}

.hljs-emphasis {
	font-style: italic !important;
}

.hljs-strong {
	font-weight: 700 !important;
}

@media screen and (-ms-high-contrast:active) {
	.hljs-addition,
	.hljs-attribute,
	.hljs-built_in,
	.hljs-bullet,
	.hljs-comment,
	.hljs-link,
	.hljs-literal,
	.hljs-meta,
	.hljs-number,
	.hljs-params,
	.hljs-quote,
	.hljs-string,
	.hljs-symbol,
	.hljs-type {
		color: highlight !important;
	}
	.hljs-keyword,
	.hljs-selector-tag {
		font-weight: 700 !important;
	}
}
@media only screen and (min-width: 1200px){
  
}
