.container {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.logo{
  font-family: "akronim";
  font-size: 2.5em;
  color: #fff;
  margin: 2%;
  width: 5rem;
  height: 5rem;
  display: flex;
  background-color: #864ef0;
  border-radius: 100%;
}
.menuicons{
  color: #000;
  position: absolute;
  top: 7%;
  right: 2rem;
  font-size: 1.5em;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
  display: none;
}
.nav{
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1) ;
}

.logo p{
  margin: auto;
}
.navmenu{
  display: flex;
}
.navmenu > li{
  line-height: 8rem;
  position: relative;
}
.submenu > li{
  line-height: 4rem;
}
.navmenu li{
   display: block;
   padding: 0 2rem;
}
.footer{
  text-align: center;
  font-size: .9em;
}
.description{
  font-size: 1.3em;
}

.button{
  text-align: center;
}


@media only screen and (min-width: 640px){

  .description{
    font-size: 0.9em;
  }
  
  .flex{
    width: 50%;
    float: right;
    padding: 20px;
  }
  .button{
    text-align: left;
  }
  .buttonsec{
    display: flex;
  }
 
  .button{
    width: 50%;
  }
}
@media only screen and (min-width: 940px){
  .description{
    font-size: 1.2em;
    margin-top: 0;
  }
  
  
  .footer{
    font-size: .7em;
  }
  .button{
    width: 60%;
  }
}
@media only screen and (min-width: 1200px){
 
}