.container {
  text-align: left;
  padding: 5%;
}
.logo{
  font-family: "akronim";
  font-size: 2.5em;
  color: #864ef0;
  margin: 4%;
}

.footer{
  text-align: center;
  font-size: .9em;
}
.description{
  font-size: 1.3em;
  margin-top: 10%;
}
.img{
  top: 0;
  margin-top: 10%;
}
.button{
  margin-top: 5%;
  text-align: center;
}

.nav{
  width: 35%;
  right: 3%;
}

@media only screen and (min-width: 640px){
  .logo{
    margin: 2%;
  }
  .description{
    font-size: 0.9em;
  }
  .footer{
    margin-top: 50%;
  }
  .flex{
    width: 50%;
    float: right;
    padding: 20px;
  }
  .button{
    text-align: left;
  }
  .buttonsec{
    display: flex;
  }
 
  .button{
    width: 50%;
  }
}
@media only screen and (min-width: 940px){
  .description{
    font-size: 1.2em;
    margin-top: 0;
  }
  
  .img{
    margin-top: 0;
  }
  .footer{
    
    font-size: .7em;
  }
  .button{
    width: 60%;
  }
}
@media only screen and (min-width: 1200px){
 .footer{
   margin-top: 31%;
 }
}