.container {
  /* I used this cause my container div contains floats hence the div doesnt automatically adjust the height. */
  overflow:hidden;
  text-align: center;
}
.logo{
  font-family: "akronim";
  font-size: 2.5em;
  color: #fff;
  margin: 1%;
  width: 5rem;
  height: 5rem;
  display: flex;
  /* background-color: #864ef0;
  border-radius: 100%; */
}
.logo p{
  margin: auto;
}
.menuicons{
  color: #eee;
  position: absolute;
  top: 5.5%;
  right: 2rem;
  font-size: 1.5em;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
}
.navmenu{
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  display: none;
  right: 0;
  height: 100vh;
  flex-direction: column;
  background-color: #3c02a9;
  z-index: 1000;
  overflow-y: scroll;
}
.navmenu li{
  line-height: 4rem;
}
.navmenu a:hover{
  color: #864ef0;
}
.submenu{
  position: initial;
  border: 3px solid transparent;
  border-right-color: #864ef0;
  margin-left: 1rem;
  max-height: 0;
  color: #eee;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 650ms ease;
}
.navmenu li:hover > .submenu{
  opacity: 1;
  visibility: visible;
  max-height: initial;
}
.menuicons{
  display: block;
}
.close{
  display: none;
}

.footer{
  text-align: center;
  font-size: .9em;
}
.description{
  font-size: 1.3em;
}
@media only screen and (min-width: 640px){
  .menuicons{
    display: none;
  }
  .nav{
    width: 90%;
  }
  .navmenu{
    height: auto;
    margin-top: auto;
    position: relative;
    flex-direction: row;
    background-color: #350196;;
    display: flex;
  }
  .navmenu li{
    line-height: 6rem;
    position: relative;
  }
  .navmenu a{
    display: block;
    padding: 0 1.5em 0 0;
    transition: color 650ms;
  }
  .submenu li{
    line-height: 4rem;
  }
  .submenu{
    color: #eee;
    text-align: center;
    width: 13.5rem;
    display: block;
    position: absolute;
    border-top: 3px solid #864ef0;
    background-color: #3c02a9;
    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
  }
  .submenu::before{
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    /* A way to create a triangle */
    border: 1.2rem solid transparent;
    border-bottom-color:#864ef0 ; 
  }
  .submenu .submenu::before{
    top: .9rem;
    right: -7.5rem;
    /* A way to create a triangle */
    border: 1.2rem solid transparent;
    border-right-color:#864ef0 ; 
  }
  .submenu .submenu{
    border-top: none;
    border-right: 3px solid #864ef0;
    top: 0;
    right: 120%;
  }
  .navmenu li:hover > .submenu{
    top: 8rem;
    opacity: 1;
    visibility: visible;
  }
  .submenu li:hover > .submenu {
    top: 0rem;
    right: 100%;
  }
  .description{
    font-size: 0.9em;
  }
  .button{
    text-align: center;
    width: 50%;
  }
  .flex{
    width: 50%;
    float: right;
    padding: 20px;
  }
  .buttonsec{
    display: flex;
    padding-bottom: 10%;
  }
 
}
@media only screen and (min-width: 940px){
  .description{
    font-size: 1.2em;
  }
  .footer{
    font-size: .7em;
  }
  .button{
    width: 60%;
  }
}